aniso8601==1.2.1
click==6.7
Flask==0.12.2
flask-restplus==0.10.1
Flask-SQLAlchemy==2.2
Flask-Uploads==0.2.1
functools32==3.2.3.post2
img-rotate==0.1.1
inflect==0.2.5
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
MarkupSafe==1.0
MySQL-python==1.2.5
olefile==0.44
Pillow==4.2.1
pydub==0.20.0
python-dateutil==2.6.0
pytz==2017.2
six==1.10.0
sqlacodegen==1.1.6
SQLAlchemy==1.1.11
Wand==0.4.4
Werkzeug==0.12.2
