<!DOCTYPE HTML>
<html>
<head>
<title>FabLab Documentation Tool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="../../static/css/mobile/themes/default/jquery.mobile-1.4.5.min.css" />
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/mobile/jquery.mobile-1.4.5.min.js"></script>
    <script src="../../static/js/mobile/mobile.js"></script>
    <script src="../../static/js/jquery.fileupload.js"></script>
</head>

<body>