{% include 'header.html' %}
{% include 'navbar.html' %}
<script src="../static/editor/editormd.js"></script>
<script src="../static/editor/languages/en.js"></script>
<script src="../static/js/vendor/jquery.ui.widget.js"></script>
<script src="../static/js/jquery.iframe-transport.js"></script>
<script src="../static/js/jquery.fileupload.js"></script>
<div id="layout">
    <div>
        <h1><input id="title" type="text" name="Title"></h1>
        <i><span id="updatetime"></span></i>
    </div>
    <div class="button-container">
        <input id="save-button" type="button" value="Save"/>
        <input id="remove-button" type="button" value="Remove"/>
        <input id="cancel-button" type="button" value="Cancel"/>
        <input id="status-box" type="checkbox" name="status" value="Publish">Make it public!<br>
    </div>
    <div class="row edit-body">
        <div class="col-8" id="test-editormd">
            <textarea id="content-body" style="display:none;"></textarea>
        </div>
        <div id="list-container" class="col-4">
            <ul>
                <li><a href="#tab-images">Images</a></li>
                <li><a href="#tab-files">Files</a></li>
            </ul>
            <div id="tab-images" class="row image-container">
                <input id="upload-img-button" type="button" value="Upload Image"/>
                <input id="create-collage-button" type="button" value="Create Collage"/>
                <div id="dialog-img-upload" title="Upload Image">
                      <fieldset>
                        <legend>Select a maximum size limit: </legend>
                        <label for="size-1">180 x 240</label>
                        <input class="radio-size" type="radio" name="size-1" id="size-1">
                        <label for="size-2">375 x 500</label>
                        <input class="radio-size" type="radio" name="size-1" id="size-2">
                        <label for="size-3">768 x 1024</label>
                        <input class="radio-size" type="radio" name="size-1" id="size-3">
                      </fieldset>
                    <input id="imageupload" type="file" name="files[]" data-url="../imageupload/" multiple>
                    <div id="status-img"></div>
                </div>
                <div id="image-list" class="div-vertical-scroll"></div>
            </div>
            <div id="tab-files" class="row file-container">
                <input id="fileupload" type="file" name="files[]" data-url="../fileupload/" multiple>
                <div id="status-file"></div>
                <div id="file-list" class="div-vertical-scroll"></div>
            </div>
        </div>
    </div>
    <div id="dialog" title="Image Link">
        <form>
            <label for="textarea-img-notes">Notes:    </label>
            <textarea name="textarea-img-notes" id="textarea-img-notes"></textarea>
        </form>
        <p id="img-update-status"></p>
        <input id="save-img-notes-button" type="button" value="Save Notes"/>
        <p id="imgCode"></p>
        <button onclick="copyToClipboard('imgCode')">Copy</button>
    </div>
    <div id="dialog-fromgallery" title="Add Images from Gallery">
        <div id="add-image-gallery" class="div-vertical-scroll">
        </div>
    </div>
    <div id="dialog-collage" title="Create Collage">
        <div class="row">
            <div id="grid-collage" class="col-8">
                <div id="gridrow-1" class="row"></div>
                <div id="gridrow-2" class="row"></div>
                <div id="gridrow-3" class="row"></div>
            </div>
            <div id="drag-image-gallery" class="col-4 div-vertical-scroll"></div>
        </div>
    </div>
</div>
<script>
// Load data from response.
$.getJSON( "{{ url }}", function( data ) {
    $('#list-container').tabs();
    $('#title').val(data.title);// Set title.
    $('#status-box')[0].checked = data.status;// Set oublic/private of document.
    populateImageList(data.images);// Create image list.
    populateFileList(data.files);// Create file list
    $('#content-body').text(data.content);// Set markdown code to edit.
    var testEditor;
    // Create editor with additional toolbars.
    // fromgallery -> adds image to selected line from gallery.
    testEditor = editormd("test-editormd", {
        width   : "60%",
        emoji   : true, // supports github emojis
        flowChart: true, // flowcharts can be added
        sequenceDiagram : true,
        htmlDecode      : true,
        tex             : true,
        height  : 640,
        syncScrolling : "single",
        path    : "../static/editor/lib/",// plugin path
        onchange : function() {
            // add captions to image when something change in editor
            $('.editormd-preview img').not('.emoji').jcaption({
                copyStyle: true,
                removeStyle: false,
                removeAlign: false,
                copyAlignmentToClass: true
            });
        },
        onload : function() {
            // add captions to image there is already an image
            $('.editormd-preview img').not('.emoji').jcaption({
                copyStyle: true,
                removeStyle: false,
                removeAlign: false,
                copyAlignmentToClass: true
            });
        },
        // Add additional toolbar icons.
        toolbarIcons : function() {
            var s = editormd.toolbarModes['full'];
            s.splice(s.indexOf("emoji"), 1);// Remove emoji button from editor, since it has a bug.
            s.push("|");
            s.push("fromgallery");
            return s; // full, simple, mini
        },
        toolbarIconsClass : {
            fromgallery: "fa-picture-o"
        },
        // Add tooltip explanations for additional icons.
        lang : {
            toolbar : {
                fromgallery: "Add image from gallery"
            }
        },
        // Additional handlers.
        toolbarHandlers : {
            /**
             * @param {Object}      cm         CodeMirror
             * @param {Object}      icon       jQuery
             * @param {Object}      cursor     CodeMirror Cursor
             * @param {String}      selection
             */
            // Add images from an image list by click on it.
            fromgallery: function(cm, icon, cursor, selection) {
                $('#add-image-gallery').empty(); // clear list
                // populate list
                // Clear and populate is needed since there might be new images.
                var images = $('.img-item');
                $.each(images, function (i, img) {
                    var imgid = img.id;
                    var row = $('<div class="row img-gallery-item"/>');
                    var thumb = $('<div class="col-3"/>');
                    var link = $('<div class="col-9"/>');

                    thumb.append('<img src="'+img.children[0].children[0].src+'">');
                    link.append('<p>ImageID: '+imgid+'</p>');
                    row.append(thumb);
                    row.append(link);
                    // Listener of one row.
                    row.click(function (event) {
                        event.preventDefault();
                        //Change the line that cursor is currently placed by markdown image syntax.
                        cm.replaceSelection('![]('+img.children[1].children[0].href+')\n');
                        //After adding the image, move cursor one line down.
                        cm.setCursor(cursor.line+1,0);
                        cursor.line += 1;
                    });
                    $('#add-image-gallery').append(row);
                });
                $('#dialog-fromgallery').dialog({
                  resizable: true,
                  height: "auto",
                  width: 500,
                  modal: true,
                  buttons: {
                    "OK": function() {
                      $( this ).dialog( "close" );
                    }
                  }
                });
            }//// End of fromgallery
        }//// End of toolbarHandlers
    });//// End of EditorMd constructor
});//// End of getJSON

$(function () {// When document is ready.
    //Hide dialogs.
    $('#dialog').hide();
    $('#dialog-img-upload').hide();
    $('#dialog-collage').hide();
    $('#dialog-fromgallery').hide();

    // Set control group for size selection of image upload.
    $('.radio-size').checkboxradio();
    $( "fieldset" ).controlgroup();
    $('#size-2').click();

    $('#selectable').selectable();

    $('#upload-img-button').click(function (event) {
        $('#dialog-img-upload').dialog({
          resizable: true,
          height: "auto",
          width: 500,
          modal: true,
          buttons: {
            "OK": function() {
              $( this ).dialog( "close" );
            },
            Cancel: function() {
              $( this ).dialog( "close" );
            }
          }
        });
    });
    $('#create-collage-button').click(function (event) {
        //Clear grids
        $('#gridrow-1').empty();
        $('#gridrow-2').empty();
        $('#gridrow-3').empty();

        //Clear list
        $('#drag-image-gallery').empty();

        //Create grids.
        var gridrows = $('#grid-collage').children();
        $.each(gridrows, function (index, gridrow) {
            for(i=1; i<=3; i++) {
                cell = $('<div class="col-4 ui-widget-header collagecell">');
                cell.droppable({
                    accept: ".draggable",
                    scope: "collage",
                    classes: {
                        "ui-droppable-active": "ui-state-active",
                        "ui-droppable-hover": "ui-state-hover"
                    },
                    drop: function( event, ui ) {
                        $(this).empty();
                        $(this).append('<img id="cellimg-'+getID(ui.draggable[0].id)+'" src="'+ui.draggable[0].children[0].src+'"></img>');
                        $(this).click(function (event) {
                            $(this).empty();
                        });
                    }
                });
                gridrow.append(cell[0]);
            }
        });
        // populate list

        var images = $('.img-item');
        $.each(images, function (i, img) {
            var imgid = img.id;
            var row = $('<div class="row drag-image-gallery-item ui-widget-content"/>');
            var thumb = $('<div id="cellthumb-'+ imgid +'" class="row draggable"/>');
            var link = $('<div class="row"/>');

            thumb.append('<img src="'+img.children[0].children[0].src+'">');
            thumb.draggable({
                revert:true,
                scroll: false,
                scope: "collage",
                containment: "#grid-collage",
                snap: ".collagecell",
                snapMode: "inner",
                stack: "#grid-collage",
                zIndex: 100,
                helper: 'clone'
            });
            link.append('<p>ImageID: '+imgid+'</p>');
            row.append(thumb);
            row.append(link);

            $('#drag-image-gallery').append(row);
        });

        $('#dialog-collage').dialog({
          resizable: true,
          height: "auto",
          width: 800,
          modal: true,
          buttons: {
            "Create": function() {
                var gridrows = [$('#gridrow-1'), $('#gridrow-2'), $('#gridrow-3')];
                var collageArray = [];
                $.each(gridrows, function (index, gridrow) {
                    var images = gridrow.find("img");
                    var rowCollage = [];
                    $.each(images, function (i, image) {
                        rowCollage.push(getID(image.id));
                    });
                    if(rowCollage.length != 0) {
                        collageArray.push(rowCollage);
                    }
                });
                if(collageArray.length != 0) {
                    createCollageHandler(collageArray);
                }
                $( this ).dialog( "close" );
            },
            Cancel: function() {
                $( this ).dialog( "close" );
            }
          }
        }).parents('.ui-dialog').css('overflow', 'visible');// DO NOT REMOVE THIS LINE,
                                // that css line makes draggable on top of other div.
    });//// End of create collage button listener.

    $('#save-button').click(function (event) {
        var data = {};
        data["content"] = $('#content-body').text();
        data["title"] = $('#title').val();
        data["status"] = $('#status-box')[0].checked;
        $.ajax({
            url: "{{ url }}",
            type: "PUT",
            data:JSON.stringify(data),
            processData:false,
            contentType: "application/json"
        }).done(function (data, textStatus, jqXHR){
            var timestamp = new Date;
            currentime = timestamp.toLocaleString('en-GB', { hour12: false,
                                                day:"numeric",
                                                month:"numeric",
                                                year:"numeric",
                                                hour: "numeric",
                                                minute: "numeric"});
            $('#updatetime').text("Updated: "+currentime);
                console.log ("RECEIVED RESPONSE: data:",data,"; textStatus:",textStatus);

        }).fail(function (jqXHR, textStatus, errorThrown){
                console.log ("RECEIVED ERROR: textStatus:",textStatus, ";error:",errorThrown);
        });
    });

    $('#cancel-button').click(function (event) {
        window.location = '{{ preview_url }}'.replace(/&amp;/g, '&');// To avoid confusion replace ampersands with real character.
    });

    $('#remove-button').click(function (event) {
        // Get confirmation from user.
        var is_confirmed = confirm("This project will be removed!");
        if(is_confirmed) {
            $.ajax({
                url: "{{ delete_url }}",
                type: "DELETE",
                processData:false,
                contentType: "application/json"
            }).done(function (data, textStatus, jqXHR){
                window.location = "../docs/?userid=" + "{{ authorid }}";

            }).fail(function (jqXHR, textStatus, errorThrown){
                console.log ("RECEIVED ERROR: textStatus:",textStatus, ";error:",errorThrown);
            });
        }

    });

    $('#imageupload').fileupload({
    dataType: 'json',
    //formData: [{name: 'id', value: '{{ id }}'}],
    add: function (e, data) {
        // There might be multiple images, make list of images.
        var fileName = "";
        $.each(data.files, function (index, file) {
            fileName = file.name + " ";
        });
        var fileList = $('<p/>').text(fileName);
        fileList.appendTo($('#dialog-img-upload'));
        // Create uplaod button.
        data.context = $('<button/>').text('Upload')
                .appendTo($('#dialog-img-upload'))
                .click(function () {
                    data.context = $('<p/>').text('Uploading...').replaceAll($(this));
                    data.formData = [{name: 'id', value: '{{ id }}'}, {name: 'size', value: $("fieldset :radio:checked").attr('id')}];
                    data.submit();
                });
    },
    done: function (e, data) {
        data.context.text('Upload finished.');// Inform user.
        // Update images list.
        $('#image-list').append(createImageItem(data.result.imageid, data.result.imagepath, data.result.thumbpath));
        $('.imglink').click(function (event) {
            event.preventDefault();
            $('#textarea-img-notes').val('');
            $('#img-update-status').text('');
            $('#save-img-notes-button').off();
            var imgid = $(this).parent().parent().attr('id');
            $.getJSON( ImageApiUrl+imgid, function( data ) {
                if( data.notes ) {
                    $('#textarea-img-notes').val(data.notes);
                }
            });
            $('#save-img-notes-button').on('click', {id: imgid}, updateImageHandler);
            $('#imgCode').text('![]('+$(this).attr('href')+')');
            $( "#dialog" ).dialog({
                minWidth: 250
            });
        });
        var element = $('<li class="ui-state-default" id="'+data.result.imageid+'">');
        element.append('<img src="'+data.result.thumbpath+'">');
        $('#selectable').append(element);
        console.log(data.result);
    }
    });

    $('#fileupload').fileupload({
    dataType: 'json',
    formData: [{name: 'id', value: '{{ id }}'}],
    add: function (e, data) {
        data.context = $('<p/>').text('Uploading...').appendTo('#status-file');
        data.submit();
    },
    done: function (e, data) {
        data.context.text('Upload finished.');// Inform user.
        $('#file-list').append(createFileItem(data.result.fileid, data.result.filepath));
        console.log(data.result);
    }
    });


});
</script>
{% include 'footer.html' %}