<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FabLab Documentation Tool</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/editor/css/editormd.css" />
    <link rel="stylesheet" href="../static/editor/css/editormd.preview.css" />
    <link rel="stylesheet" href="../static/js/jquery-ui/jquery-ui.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery-ui/jquery-ui.js"></script>
    <script src="../static/js/main.js"></script>
</head>
<body>