{% extends 'basic_layout.html' %}
{% block body %}
<div class="body"></div>
<div class="button-container">
    <input id="new-button" type="button" value="Create New Project"/>
</div>
    <ul id="projectlist" class="my-new-list"></ul>
<script>
function setList() {
    var totalPages = 1;
    for(var i = 1; i <= totalPages; i++) {
        $.ajax({
            url: "{{ url }}"+"&page="+i,
            type: "GET",
            async: false,
            cache: false,
            timeout: 30000
        }).done(function (data, textStatus, jqXHR){
            totalPages = data.pages;
            populateList(data.items);

        }).fail(function (jqXHR, textStatus, errorThrown){
            console.log ("RECEIVED ERROR: textStatus:",textStatus, ";error:",errorThrown);
        });
    }

}

function populateList(projectList) {
    //var items = [];
    $.each( projectList, function( key, val ) {
        var doc = "<a href='" + "{{ base_url }}" + val.id + "'>" + 'Title: ' + val.title + ' - ID: ' + val.id + "</a>";
        //items.push( "<li id='" + key + "'>" + doc + "</li>" );
        $('#projectlist').append("<li id='" + key + "'>" + doc + "</li>" );
    });
}



$(function () {
    setList();
    $('#new-button').click(function (event) {
        var data = {};
        data["content"] = "";
        data["title"] = "New Project";
        data["authorid"] = {{ authorid }};
        console.log(JSON.stringify(data));
        $.ajax({
            url: HOST_URL + "api/contents/",
            type: "POST",
            data:JSON.stringify(data),
            processData:false,
            contentType: "application/json"
        }).done(function (data, textStatus, jqXHR){
            location.reload();
        }).fail(function (jqXHR, textStatus, errorThrown){
            console.log ("RECEIVED ERROR: textStatus:",textStatus, ";error:",errorThrown);
        });
    });
})
</script>
{% endblock %}