<div class="nav-bar">
    <ul>
        <li><a id="home-button" href="../">Home</a></li>
        <li><a id="projects-button" href="../docs/?userid={{ authorid }}">My Projects</a></li>
    </ul>
</div>
{#<script>#}
{#    function buttonListener() {#}
{#        $('.active').removeClass("active");#}
{#        $(this).addClass("active");#}
{#    }#}
{#    $(function () {#}
{#        $('#home-button').click(buttonListener);#}
{#        $('#projects-button').click(buttonListener);#}
{#    });#}
{#</script>#}